<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826458711126-p8lem4qa3lbhahufenhqqpv554m518f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826458711126-p8lem4qa3lbhahufenhqqpv554m518f8</string>
	<key>API_KEY</key>
	<string>AIzaSyBtQldGSR3yHtamED-HBxhyGBnOYDoE7RI</string>
	<key>GCM_SENDER_ID</key>
	<string>826458711126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdscApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gdsc-6704d</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-6704d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826458711126:ios:0ce515c70c0b89f9c047f7</string>
</dict>
</plist>